body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
}

table {
    width: 70%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

button {
    margin: 5px;
    padding: 7px 12px;
    cursor: pointer;
    border: none;
    background: #2196f3;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: #0b7dda;
}
